body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-image: url("image/im1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

header {
  color: white;
  padding: 10px;
  text-align: center;
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

main {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px; 
  margin: 20px auto; 
  max-width: 800px;
}

section {
  margin-bottom: 30px;
}

button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}


